CROSS_COMPILE=/usr/local/arm-none-linux-gnueabi-4.4.0_ARMv5TE/bin/arm-none-linux-gnueabi-
CC=$(CROSS_COMPILE)gcc
AR=$(CROSS_COMPILE)ar
STRIP=$(CROSS_COMPILE)strip
INC = -I. -I../include -I/usr/local/arm-linux-2.6.28/linux-2.6.28-fa/include -I/usr/local/arm-linux-2.6.28/module/include
CFLAGS = $(INC) -O3 -finline-functions -march=armv4 -mtune=arm9tdmi -msoft-float
MYLIB = ../lib
LDFLAGS = -L. -L$(MYLIB)
TFTP = /tftpboot
